* {
  box-sizing: border-box;
}
body {
  position: relative;
  z-index: 0;
  font-family: 'Montserrat', Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: $main-text;
  background-color: transparent;
  overflow-x: hidden;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
a {
  display: block;
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
}
