<section class="container services__container">
  <article class="services__article">
    <h2 class="services__title">Лікувальний масаж</h2>
    <div class="services__wrapper">
      <img class="services__img" src="./images/services/massage/massage.jpg" alt="масаж" />
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Praesentium, porro impedit eos
        tempora temporibus unde veniam accusamus accusantium voluptatem dolorem quas, placeat quos
        vel consequuntur sint dolor amet veritatis, obcaecati laboriosam iste! Exercitationem
        voluptatibus natus, quaerat tenetur quidem, maiores id ab sed, ad eius laudantium blanditiis
        nisi aspernatur deserunt nostrum!
      </p>
    </div>
  </article>
  <article class="services__article">
    <h2 class="services__title">Ударно-хвильова терапія</h2>
    <div class="services__wrapper">
      <img
        class="services__img"
        src="./images/services/uvt/udarno-volnovaja-terapija.jpg"
        alt="масаж"
      />
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Praesentium, porro impedit eos
        tempora temporibus unde veniam accusamus accusantium voluptatem dolorem quas, placeat quos
        vel consequuntur sint dolor amet veritatis, obcaecati laboriosam iste! Exercitationem
        voluptatibus natus, quaerat tenetur quidem, maiores id ab sed, ad eius laudantium blanditiis
        nisi aspernatur deserunt nostrum!
      </p>
    </div>
  </article>
  <article class="services__article">
    <h2 class="services__title">Лазерна терапія</h2>
    <div class="services__wrapper">
      <img class="services__img" src="./images/services/lt/lazernaja-terapija.jpg" alt="масаж" />
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Praesentium, porro impedit eos
        tempora temporibus unde veniam accusamus accusantium voluptatem dolorem quas, placeat quos
        vel consequuntur sint dolor amet veritatis, obcaecati laboriosam iste! Exercitationem
        voluptatibus natus, quaerat tenetur quidem, maiores id ab sed, ad eius laudantium blanditiis
        nisi aspernatur deserunt nostrum!
      </p>
    </div>
  </article>
</section>
