.hero__container {
  padding: 0;
}
.hero__container {
  position: relative;
  margin-bottom: 20px;
}
.hero__title {
  text-align: center;
  font-size: 20px;
  line-height: 30px;
  font-weight: 500;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
}
.slide-image {
  height: 187px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
}
.slide--1 {
  background-image: url('../images/hero/hero-slide1.png');
}
.slide--2 {
  background-image: url('../images/hero/hero-slide2.png');
}
.slide--3 {
  background-image: url('../images/hero/hero-slide3.png');
}
.hero__banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 190px;
  padding: 20px;
}
.hero__more-btn {
  padding: 12px 20px;
  border: none;
  border-radius: 26px;
  background-color: rgb(96, 142, 230);
  color: #fff;
  font-weight: 700;
}
